.body1 {
    font-family: Open Sans, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.logotype {
    position: fixed;
    width: 78px;
    height: 24px;
    top: 56px;
    left: 25px;
    font-family: Open Sans, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #000000

}
.information-button1 {
    position: fixed;
    width: 24px;
    height: 24px;
    top: 56px;
    left: 323px;
    color: #F54B55;

}
.bonuses {
    position: fixed;
    width: 335px;
    height: 105px;
    top: 100px;
    left: 20px;
    border-radius: 20px;
    z-index: 2;
    box-shadow: 2px 2px 16px 0px #00000033;
    background: #FFFFFF;


}
.total{
    display: flex;
    position: fixed;
    flex-direction: column;
    font-family: Open Sans, serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 150px;
    height: 32px;
    top: 118px;
    left: 40px;
    color: #000000;
}

.burn_wrapper {
    display: flex;
    flex-direction: row;
}

.burn_date{
    display: flex;
    position: fixed;
    width: 97px;
    height: 24px;
    top: 162px;
    left: 40px;
    font-family: Open Sans, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;

}
.burn_bonus{
    display: flex;
    position: fixed;
    width: 96px;
    height: 24px;
    top: 162px;
    left: 166px;
    font-family: Open Sans, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
}

.Rectangle765 {
    position: fixed;
    width: 375px;
    height: 148px;
    top: 156px;
    background: linear-gradient(180deg, #D2333E 0%, #F54B55 100%);

}

.group3112 {
    position: fixed;
    color: #D4343F;
    width: 35px;
    height: 35px;
    top: 139px;
    left: 302px;
}

.fire {
    width: 13px;
    height: 17px;
    top: 165px;
    left: 145px;
    position: fixed;
    color: #D4343F;
}

.statusBar {
    width: 375px;
    height: 24px;
    position: fixed;
}
